*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
--primary-text-color: #757575;
--section-title-color: #212121;
--accent-color: #2196F3;
--hero-title-color :#FFFFFF;
}
body {
background color: var(--hero-title-color);
color:var(--primary-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
}
.header {
 background: var(--hero-title-color);
}
.header-logo {
color:var(--accent-color);
text-decoration: none;
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.header-logo-studio {
color:var( --section-title-color );
}
.list {
list-style: none ;
}
.header-link {
color: var(--section-title-color);
text-decoration: none;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.current {
    color: var(--accent-color);
}
.header-link:hover {
color: var(--accent-color);
}
.header-link:focus {
color: blueviolet;
}
.contact-email {
color:var(--primary-text-color); 
text-decoration: none ;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.contact-email:hover {
    color: var(--accent-color);
}
.contact-email:focus {
    color: blueviolet;
}
.contact-tel {
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.contact-tel:hover {
color: var(--accent-color);
}
.contact-tel:focus {
color: blueviolet;
}
.section-title {
color: var(--hero-title-color); 
}
.hero {
background: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}
.hero-button {
    background:var(--accent-color);
    color: var(--hero-title-color);
    font-family: inherit;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
.section-title-advantage {
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--section-title-color);
}
.advantage-text {
line-height: 1.71;
color:var(--primary-text-color);
}
.section-title {
   font-size: 36px;
   line-height: 1.16;
   color: var(--section-title-color);
}
.team {
    background: #F5F4FA;
}
.team.list {

    background: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team.person {
    background:var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--section-title-color);
}
.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.portfolio {
    background: var(--hero-title-color);
    border: 1px solid #EEEEEE;
}
.project-title {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--section-title-color);
}
.project-text {
    font-size: 16px;
    line-height: 1.88;
    color:var(--primary-text-color);
}
.footer {
    background: #2F303A;    
}
.footer-address {
   color: var(--hero-title-color);
   text-decoration: none;
   font-style: normal;
}
.footer-email, .footer-tel {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-style: normal;
}
.footer-logo-studio {
    color: var(--hero-title-color);
  }
.footer-email:hover {
    color: var(--accent-color);
}
.footer-tel:hover {
color: var(--accent-color);
}
.footer-email:focus {
color: blueviolet;
} 
.footer-tel:focus {
color: blueviolet;
}
.button-top {
 background-color: var(--accent-color);  
 color: var(--hero-title-color) ;
 border: var(--accent-color);
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 cursor: pointer;
}
.button {
color: var(--section-title-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
font-family: inherit;
border: none;
}
.button:hover {
color: var(--hero-title-color);
background-color: var(--accent-color);
}
.button:focus {
color: blueviolet;
}